<!DOCTYPE html>
<html>
    <head>
    
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

       {{#each stylesheets}}
          <link rel="stylesheet" href="/css/{{this}}">
       {{/each}}
    
       <title>Oboe.js : Streaming JSON loading for Node and browsers</title>
    
       <meta name="Description" content="Progressive loading of json"/>
           
    </head>
    <body>
        <div id="header">
               {{#if experimental}}
                    <div class="button2 wee"></div>
                    <div class="button2 wee"></div>
                    <div class="button2 wee"></div>
                    <div class="button2"></div>
                    <div class="button2"></div>
                    <div class="button2"></div>
                    <div class="button2"></div>
               {{/if}}
        </div>
        <nav id="siteNav">
            <svg width="24" height="24" class="menuButton" >
                <rect class="background" width="24" height="24" />
                <rect class="rung" width="16" height="4" x="4" y="3"  />
                <rect class="rung" width="16"  height="4" x="4" y="10"  />
                <rect class="rung" width="16" height="4" x="4" y="17" />
            </svg>
           <ul>
              {{#home}}
                  <li class="reducedLogo">Oboe.js</li>
              {{/home}}
              {{^home}}
                  <li class="reducedLogo"><a href="/">Oboe.js</a></li>
              {{/home}}
                              
              {{#pages}}
                  <li>
                     {{#if current}}
                         <span class="siteLink">{{title}}</span>
                     {{else}}
                         <a class="siteLink" href="/{{path}}">{{title}}</a>
                     {{/if}}
                  </li>

              {{/pages}}
           </ul>
        </nav>        
        <div id="pagearea">
           <header class="row">
              {{#home}}
                  <h1>Oboe.js</h1>
              {{/home}}
              {{^home}}
                  <h1><a href="/">Oboe.js</a></h1>
              {{/home}}
        
              {{#if home}}
                 <p class="strapline">{{heading.text}}</p>
              {{/if}}
           </header>
        
           <div class="row">
        
              <nav class="col col1">
                 {{#if home}}
                     <a href="/download"
                        id="download" title="Get the code">
                        Download <em id="version">{{latestTag}}</em>
                     </a>
                 {{else}}                 
                    <div class="internalNav">
                       <h2>{{heading.text}}</h2>
                       {{#if sections}}         
                          <ul class="sections">
                             {{#sections}}
                                <li><a href="#{{id}}">{{text}}</a></li>
                             {{/sections}}
                          </ul>
                       {{/if}}
                    </div>
                 {{/if}}

                 {{#if experimental}}
                    <div class="siteNav">
                     <ul class="sections site">
                        <li><a href="api">API</a></li>
                        <li><a href="examples">Examples</a></li>
                        <li><a href="installing">Installing</a></li>
                        <li><a href="useCases">Use cases</a></li>
                        <li><a href="why">Why Oboe.js?</a></li>
                     </ul>
                    </div>
                 {{/if}}
        
                 {{#home}}               
                     <ul class="links">
                        <li>
                           <a href="https://twitter.com/OboeJs"
                              class="twitter-follow-button"
                              data-show-count="false"
                              data-lang="en"
                              data-size="large">
                              Follow @OboeJs
                           </a>
                        </li>
                     </ul>
                 {{/home}}
              </nav>
              <div class="col col2">
        
                 <main class="marked">
                    {{{content}}}
                 </main>
        
              </div>
        
           </div>
        </div>
        <footer>
           <div id="footer-contents">
              <a class="contact" href="mailto:jim.higson@gmail.com">Contact the author</a> 
               
              <span id="externalLinks">
                  <a href="https://twitter.com/OboeJs">
                     <svg width="{{logoSize}}" height="{{logoSize}}">
                        <path class="logo" d="M 44 6.6 C 37 6.6 31.2 12.4 31.2 19.4 C 31.2 20.4 31.3 21.4 31.5 22.3 C 20.9 21.8 11.4 16.7 5.1 8.9 C 4 10.8 3.4 13.1 3.4 15.4 C 3.4 19.9 5.6 23.8 9.1 26.1 C 7 26 5 25.4 3.3 24.5 C 3.2 24.5 3.3 24.6 3.3 24.6 C 3.3 30.8 7.7 36 13.5 37.2 C 12.5 37.5 11.3 37.7 10.2 37.7 C 9.3 37.7 8.5 37.6 7.8 37.4 C 9.4 42.5 14.1 46.2 19.7 46.3 C 15.3 49.8 9.8 51.8 3.8 51.8 C 2.8 51.8 1.8 51.7 0.8 51.6 C 6.4 55.3 13.2 57.4 20.4 57.4 C 44 57.4 56.9 37.9 56.9 20.9 C 56.9 20.4 56.9 19.8 56.8 19.3 C 59.3 17.4 61.5 15.2 63.3 12.6 C 61 13.6 58.5 14.3 55.9 14.6 C 58.5 13 60.6 10.5 61.5 7.5 C 59.1 9 56.3 10.1 53.4 10.7 C 51 8.2 47.7 6.6 44 6.6 z"/>
                     </svg>
                  </a>

                  <a href="https://github.com/jimhigson/oboe.js">
                     <svg width="{{logoSize}}" height="{{logoSize}}"> 
                        <path class="logo" d="M 32,1.3 C 15,1.3 1.3,15 1.3,32 1.3,49 15,62.7 32,62.7 49,62.7 62.7,49 62.7,32 62.7,15 49,1.3 32,1.3 z m 0,4.9 c 3.5,0 6.9,0.7 10,2 3.1,1.3 5.8,3.1 8.2,5.5 2.4,2.4 4.2,5.1 5.5,8.2 1.3,3.2 2,6.5 2,10 0,3.5 -0.7,6.9 -2,10 -1.3,3.1 -3.2,5.8 -5.5,8.2 -2.4,2.4 -5.1,4.2 -8.2,5.5 -0.8,0.3 -1.6,0.6 -2.4,0.9 l 0,-4.6 c 0,-2.4 -0.8,-4.2 -2.5,-5.3 1,-0.1 2,-0.3 2.9,-0.4 0.9,-0.2 1.8,-0.4 2.8,-0.8 1,-0.3 1.9,-0.7 2.6,-1.2 0.8,-0.5 1.5,-1.1 2.2,-1.8 0.7,-0.7 1.3,-1.6 1.8,-2.5 0.5,-0.9 0.8,-2.1 1.1,-3.4 0.3,-1.3 0.4,-2.8 0.4,-4.4 0,-3.1 -1,-5.8 -3,-7.9 C 48.9,21.8 48.7,19.2 47.6,16.3 L 46.9,16.3 c -0.5,-0.1 -1.4,0.2 -2.8,0.7 C 42.7,17.4 41.2,18.2 39.5,19.4 c -2.4,-0.7 -4.8,-1 -7.4,-1 -2.6,0 -5,0.3 -7.4,1 -1.1,-0.7 -2.1,-1.3 -3,-1.8 -0.9,-0.5 -1.7,-0.8 -2.3,-1 -0.6,-0.2 -1.1,-0.3 -1.6,-0.3 -0.5,0 -0.8,-0.1 -0.9,0 -0.1,0 -0.3,0 -0.3,0.1 -1.1,2.8 -1.2,5.4 -0.3,7.8 -2,2.2 -3,4.8 -3,7.9 0,1.6 0.1,3 0.4,4.4 0.3,1.3 0.7,2.5 1.2,3.4 0.5,0.9 1.1,1.8 1.8,2.5 0.7,0.7 1.4,1.4 2.2,1.8 0.8,0.5 1.6,0.8 2.6,1.2 1,0.3 1.9,0.6 2.8,0.8 0.9,0.2 1.8,0.3 2.8,0.4 -1.6,1.1 -2.5,2.9 -2.5,5.3 l 0,4.7 C 23.7,56.4 22.8,56.1 22,55.8 18.9,54.5 16.2,52.6 13.8,50.2 11.4,47.8 9.5,45.1 8.3,42 6.9,38.9 6.2,35.5 6.2,32 6.2,28.5 6.9,25.1 8.3,22 9.5,18.9 11.4,16.1 13.8,13.8 16.2,11.4 18.9,9.5 22,8.3 25.1,6.9 28.5,6.2 32,6.2 z"/>
                     </svg>
                  </a>

                  <a href="https://groups.google.com/forum/#!forum/oboejs">
                     <svg width="{{logoSize}}" height="{{logoSize}}">
                        <path class="logo" d="M 34.7 4.1 C 29.7 4.1 24.6 4.9 20 7.3 C 18.1 8.3 16.7 9.3 15.4 10.3 C 11.9 12.9 10.1 15.5 8.6 17.6 C 7.1 19.8 5.9 23.2 5.4 24.7 C 4.8 26.5 4.7 28.3 4.5 30.2 C 4.3 31.4 4.3 32.7 4.4 34.1 C 4.5 37.2 5.2 40.6 6.7 43.8 C 7.8 46.1 9.2 48.3 10.7 50.3 C 13 53.6 16.8 55.7 19 56.8 C 20.7 57.7 22.9 58.7 26.6 59.3 C 30.7 60 36.9 60 46.7 58.4 C 49.4 58 52.4 57.1 55.8 56.4 C 56 56.4 56.2 56.3 56.4 56.2 C 56.6 56.2 56.8 56.2 56.8 56.1 C 56.6 51.7 56.7 46.8 56.8 44.6 C 56.8 44.3 56.8 43.2 56.8 42.8 C 56.8 42.4 57 42.5 57.3 42.3 L 59.3 40.3 L 43.3 40 L 37.8 43.2 L 48.8 42.7 L 48.8 55 C 48.8 55 44.4 56.9 38.3 56.8 C 33.9 56.7 28.6 55.7 23.5 51.8 C 15.4 45.7 12.6 37.3 12.5 31.3 C 12.5 28.2 12.4 25.9 12.7 24.9 C 12.9 24 13.2 21.9 14.2 19.7 C 15.4 16.6 17.5 13.3 21.4 10.7 C 23.8 9 27 7.5 30.8 7.2 C 35.1 6.8 38.2 7.3 40.8 8.3 C 47.1 10.8 48.4 12.8 49.3 13.6 C 49.3 13.6 49.5 13.8 49.5 13.9 C 49.4 14 49.4 14.1 49.3 14.2 C 48.9 14.9 47.8 16.8 47.8 16.8 L 50.2 16.6 L 56.6 10.3 C 56.8 10 51.1 6.2 43.1 4.8 C 40.5 4.4 37.6 4.1 34.7 4.1 z"/>
                     </svg>
                  </a>                  
              </span>
              
              <a href="//samwakeling.com" id="sw" title="Web design by Sam Wakeling">Web
                 design by Sam Wakeling
              </a>
           </div>
        </footer>
        
        {{#if twitter}}
           <script type="text/javascript">!function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (!d.getElementById(id)) {
                 js = d.createElement(s);
                 js.id = id;
                 js.src = "//platform.twitter.com/widgets.js";
                 fjs.parentNode.insertBefore(js, fjs);
              }
           }(document, "script", "twitter-wjs");</script>
        {{/if}}

        <script src="/jquery/jquery.js"></script>
        {{#each scripts}}
            <script type="text/javascript" src="{{this}}"></script>
        {{/each}}    
        {{#if initScript}}
            <script type="text/javascript">{{initScript}}</script>           
        {{/if}}
    
        {{{templates}}}
    </body>
</html>
