<!DOCTYPE html>
<html>
    <head>
    
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

       {{#each stylesheets}}
          <link rel="stylesheet" href="/css/{{this}}">
       {{/each}}
    
       <title>Oboe.js</title>
    
       <meta name="Description" content="Progressive loading of json"/>
           
    </head>
    <body>
        <div id="header">
               {{#if experimental}}
                    <div class="button2 wee"></div>
                    <div class="button2 wee"></div>
                    <div class="button2 wee"></div>
                    <div class="button2"></div>
                    <div class="button2"></div>
                    <div class="button2"></div>
                    <div class="button2"></div>
               {{/if}}
        </div>
        <nav id="siteNav">
            <svg width="24" height="24" class="menuButton" >
                <rect class="background" width="24" height="24" />
                <rect class="rung" width="16" height="4" x="4" y="3"  />
                <rect class="rung" width="16"  height="4" x="4" y="10"  />
                <rect class="rung" width="16" height="4" x="4" y="17" />
            </svg>
           <ul>
              {{#home}}
                  <li class="reducedLogo">Oboe.js</li>
              {{/home}}
              {{^home}}
                  <li class="reducedLogo"><a href="/">Oboe.js</a></li>
              {{/home}}
                              
              {{#pages}}
                  <li>
                     {{#if current}}
                         <span class="siteLink">{{title}}</span>
                     {{else}}
                         <a class="siteLink" href="/{{path}}/">{{title}}</a>
                     {{/if}}
                  </li>

              {{/pages}}
           </ul>
        </nav>        
        <div id="pagearea">
           <header class="row">
              {{#home}}
                  <h1>Oboe.js</h1>
              {{/home}}
              {{^home}}
                  <h1><a href="/">Oboe.js</a></h1>
              {{/home}}
        
              {{#if home}}
                 <p class="strapline">{{heading.text}}</p>
              {{/if}}
           </header>
        
           <div class="row">
        
              <nav class="col col1">
                 {{#if home}}
                     <a href="/download"
                        id="download" title="Get the code">
                        Download <span id="version">{{latestTag}}</span>
                     </a>
                 {{else}}                 
                    <div class="internalNav">
                       <h2>{{heading.text}}</h2>
                       {{#if sections}}         
                          <ul class="sections">
                             {{#sections}}
                                <li><a href="#{{id}}">{{text}}</a></li>
                             {{/sections}}
                          </ul>
                       {{/if}}
                    </div>
                 {{/if}}

                 {{#if experimental}}
                    <div class="siteNav">
                     <ul class="sections site">
                        <li><a href="api">API</a></li>
                        <li><a href="examples">Examples</a></li>
                        <li><a href="installing">Installing</a></li>
                        <li><a href="useCases">Use cases</a></li>
                        <li><a href="why">Why Oboe.js?</a></li>
                     </ul>
                    </div>
                 {{/if}}
        
                 {{#home}}               
                     <ul class="links">
                        <li>
                           <a href="https://twitter.com/OboeJs"
                              class="twitter-follow-button"
                              data-show-count="false"
                              data-lang="en"
                              data-size="large">
                              Follow @OboeJs
                           </a>
                        </li>
                     </ul>
                 {{/home}}
              </nav>
              <div class="col col2">
        
                 <main class="marked">
                    {{{content}}}
                 </main>
        
              </div>
        
           </div>
        </div>
        <footer>
           <div id="footer-contents">
              <a class="contact" href="mailto:jim.higson@gmail.com">Contact the author</a> 
               
              <span id="externalLinks">
                  <a href="https://twitter.com/OboeJs">
                     <svg width="{{logoSize}}" height="{{logoSize}}">
                        <path class="logo" d="M 44.03125 6.59375 C 36.95 6.59375 31.1875 12.35625 31.1875 19.4375 C 31.1875 20.4425 31.312875 21.40525 31.53125 22.34375 C 20.874375 21.809 11.418125 16.69525 5.09375 8.9375 C 3.99 10.83125 3.375 13.05625 3.375 15.40625 C 3.375 19.855 5.621875 23.763125 9.0625 26.0625 C 6.960625 25.995875 4.97875 25.429 3.25 24.46875 C 3.24875 24.52225 3.25 24.571 3.25 24.625 C 3.25 30.8375 7.66525 36.00925 13.53125 37.1875 C 12.45525 37.4805 11.325625 37.65625 10.15625 37.65625 C 9.33 37.65625 8.533125 37.555625 7.75 37.40625 C 9.381875 42.50025 14.1075 46.209375 19.71875 46.3125 C 15.33025 49.75175 9.82025 51.8125 3.8125 51.8125 C 2.7775 51.8125 1.753125 51.74375 0.75 51.625 C 6.424625 55.263375 13.165 57.40625 20.40625 57.40625 C 43.9915 57.40625 56.875 37.850875 56.875 20.90625 C 56.875 20.350375 56.8685 19.80025 56.84375 19.25 C 59.349 17.4425 61.530875 15.19625 63.25 12.625 C 60.950625 13.645 58.468375 14.315 55.875 14.625 C 58.522125 13.038 60.574125 10.525625 61.53125 7.53125 C 59.053375 9.001 56.296 10.08125 53.375 10.65625 C 51.03625 8.164 47.719375 6.59375 44.03125 6.59375 z "/>
                     </svg>
                  </a>

                  <a href="https://github.com/jimhigson/oboe.js">
                     <svg width="{{logoSize}}" height="{{logoSize}}"> 
                        <path class="logo" d="M 32,1.3125 C 15.04725,1.3125 1.3125,15.04725 1.3125,32 1.3125,48.95275 15.04725,62.6875 32,62.6875 48.95275,62.6875 62.6875,48.95275 62.6875,32 62.6875,15.04725 48.95275,1.3125 32,1.3125 z m 0,4.90625 c 3.482375,0 6.856,0.688375 10.03125,2.03125 3.069375,1.298375 5.8175,3.131125 8.1875,5.5 2.369125,2.369125 4.233125,5.1495 5.53125,8.21875 1.34275,3.17525 2.03125,6.548875 2.03125,10.03125 0,3.482375 -0.68825,6.85625 -2.03125,10.03125 -1.298375,3.069125 -3.162125,5.818375 -5.53125,8.1875 -2.36925,2.369125 -5.118125,4.233125 -8.1875,5.53125 -0.77975,0.32975 -1.5725,0.625385 -2.375,0.875 l 0,-4.59375 c 0,-2.418 -0.841375,-4.20475 -2.5,-5.34375 1.039125,-0.09987 2.00575,-0.257625 2.875,-0.4375 0.869375,-0.179875 1.78075,-0.4415 2.75,-0.78125 0.969125,-0.33975 1.8555,-0.717875 2.625,-1.1875 0.769375,-0.46975 1.50925,-1.09425 2.21875,-1.84375 0.709375,-0.7495 1.301625,-1.582 1.78125,-2.53125 0.4795,-0.949125 0.84525,-2.108625 1.125,-3.4375 0.279625,-1.329 0.4375,-2.77625 0.4375,-4.375 0,-3.0975 -1.012875,-5.75925 -3.03125,-7.9375 C 48.856875,21.758 48.744,19.1615 47.625,16.34375 L 46.875,16.25 c -0.5195,-0.05988 -1.432375,0.1565 -2.78125,0.65625 C 42.744875,17.406 41.21,18.236 39.53125,19.375 c -2.378125,-0.6595 -4.84825,-1 -7.40625,-1 -2.578125,0 -5.036875,0.3405 -7.375,1 -1.059125,-0.719375 -2.05075,-1.311625 -3,-1.78125 -0.949375,-0.469625 -1.71175,-0.799 -2.28125,-0.96875 -0.5695,-0.169875 -1.10425,-0.27263 -1.59375,-0.3125 -0.489625,-0.04 -0.7975,-0.05125 -0.9375,-0.03125 -0.139875,0.02 -0.25263,0.0425 -0.3125,0.0625 -1.119125,2.837875 -1.2005,5.434375 -0.28125,7.8125 -2.018375,2.17825 -3.03125,4.839875 -3.03125,7.9375 0,1.59875 0.1265,3.046125 0.40625,4.375 0.279625,1.328875 0.676625,2.48825 1.15625,3.4375 0.4795,0.94925 1.07175,1.78175 1.78125,2.53125 0.7095,0.7495 1.44925,1.374125 2.21875,1.84375 0.769375,0.469875 1.6245,0.84775 2.59375,1.1875 0.96925,0.33975 1.912,0.601375 2.78125,0.78125 0.869375,0.179875 1.8045,0.337625 2.84375,0.4375 -1.63875,1.119 -2.46875,2.90575 -2.46875,5.34375 l 0,4.6875 C 23.719875,56.449125 22.84525,56.120625 21.96875,55.75 18.899625,54.451625 16.1505,52.587875 13.78125,50.21875 11.412125,47.8495 9.548125,45.100625 8.25,42.03125 6.90725,38.856125 6.21875,35.482375 6.21875,32 6.21875,28.517625 6.907125,25.143875 8.25,21.96875 9.548375,18.899625 11.412125,16.11925 13.78125,13.75 16.150375,11.38075 18.8995,9.548125 21.96875,8.25 25.144,6.907125 28.517625,6.21875 32,6.21875 z"/>
                     </svg>
                  </a>

                  <a href="https://groups.google.com/forum/#!forum/oboejs">
                     <svg width="{{logoSize}}" height="{{logoSize}}">
                        <path class="logo" d="M 34.65625 4.0625 C 29.74689 4.0583017 24.612266 4.889525 19.96875 7.34375 C 18.109375 8.32649 16.699375 9.27024 15.40625 10.25 C 11.88325 12.91924 10.084625 15.54737 8.625 17.625 C 7.077 19.82837 5.921 23.15013 5.4375 24.65625 C 4.84825 26.492 4.73625 28.26213 4.46875 30.15625 C 4.294625 31.38963 4.311125 32.70126 4.375 34.09375 C 4.518 37.21425 5.2035 40.63 6.6875 43.75 C 7.805875 46.10137 9.245875 48.30988 10.65625 50.3125 C 12.962375 53.587 16.753125 55.70313 18.96875 56.84375 C 20.70725 57.73876 22.8885 58.70787 26.5625 59.3125 C 30.729625 59.99824 36.874875 59.97751 46.71875 58.4375 C 49.442625 58.01138 52.416625 57.12425 55.75 56.4375 C 56.02725 56.38038 56.18625 56.27605 56.40625 56.21875 C 56.61075 56.1655 56.78845 56.213 56.78125 56.0625 C 56.572755 51.70001 56.66262 46.81975 56.75 44.625 C 56.76325 44.29113 56.84005 43.24926 56.84375 42.8125 C 56.847 42.42288 57.0435 42.46125 57.25 42.28125 L 59.3125 40.28125 L 43.34375 40.03125 L 37.75 43.1875 L 48.84375 42.71875 L 48.84375 55.03125 C 48.84375 55.03125 44.35275 56.90988 38.34375 56.78125 C 33.923 56.68662 28.607125 55.6755 23.46875 51.8125 C 15.40475 45.74988 12.57775 37.34338 12.53125 31.28125 C 12.507875 28.22762 12.414 25.89362 12.65625 24.90625 C 12.869625 24.03662 13.235375 21.94037 14.15625 19.65625 C 15.405125 16.55875 17.51475 13.30663 21.40625 10.65625 C 23.792875 9.03075 27.001 7.54713 30.78125 7.21875 C 35.131125 6.841 38.1805 7.31425 40.75 8.3125 C 47.08625 10.77412 48.365375 12.84326 49.28125 13.5625 C 49.326375 13.59801 49.5435 13.76688 49.46875 13.875 C 49.37925 14.00462 49.35537 14.14125 49.3125 14.21875 C 48.909375 14.94737 47.78125 16.84375 47.78125 16.84375 L 50.1875 16.59375 L 56.625 10.34375 C 56.820125 9.97725 51.055125 6.17562 43.09375 4.8125 C 40.478453 4.3647012 37.601866 4.065019 34.65625 4.0625 z"/>
                     </svg>
                  </a>                  
              </span>
              
              <a href="//samwakeling.com" id="sw" title="Web design by Sam Wakeling">Web
                 design by Sam Wakeling
              </a>
           </div>
        </footer>
        
        {{#if twitter}}
           <script type="text/javascript">!function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (!d.getElementById(id)) {
                 js = d.createElement(s);
                 js.id = id;
                 js.src = "//platform.twitter.com/widgets.js";
                 fjs.parentNode.insertBefore(js, fjs);
              }
           }(document, "script", "twitter-wjs");</script>
        {{/if}}

        <script src="/jquery/jquery.js"></script>
        {{#each scripts}}
            <script type="text/javascript" src="{{this}}"></script>
        {{/each}}    
        {{#if initScript}}
            <script type="text/javascript">{{initScript}}</script>           
        {{/if}}
    
        {{{templates}}}
    </body>
</html>
