<!DOCTYPE html>
<html>
    <head>
    
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

       {{#each stylesheets}}
          <link rel="stylesheet" href="/css/{{this}}">
       {{/each}}
    
       <title>Oboe.js</title>
    
       <meta name="Description" content="Progressive loading of json"/>
           
    </head>
    <body>
        <div id="header">
               {{#if experimental}}
                    <div class="button2 wee"></div>
                    <div class="button2 wee"></div>
                    <div class="button2 wee"></div>
                    <div class="button2"></div>
                    <div class="button2"></div>
                    <div class="button2"></div>
                    <div class="button2"></div>
               {{/if}}
        </div>
        <nav id="siteNav">
            <svg width="24" height="24" class="menuButton" >
                <rect class="background" width="24" height="24" />
                <rect class="rung" width="16" height="4" x="4" y="3"  />
                <rect class="rung" width="16"  height="4" x="4" y="10"  />
                <rect class="rung" width="16" height="4" x="4" y="17" />
            </svg>
           <ul>
              {{#home}}
                  <li class="reducedLogo">Oboe.js</li>
              {{/home}}
              {{^home}}
                  <li class="reducedLogo"><a href="/">Oboe.js</a></li>
              {{/home}}
                              
              {{#pages}}
                  <li>
                     {{#if current}}
                         <span class="siteLink">{{title}}</span>
                     {{else}}
                         <a class="siteLink" href="/{{path}}/">{{title}}</a>
                     {{/if}}
                  </li>

              {{/pages}}
           </ul>
        </nav>        
        <div id="pagearea">
           <header class="row">
              {{#home}}
                  <h1>Oboe.js</h1>
              {{/home}}
              {{^home}}
                  <h1><a href="/">Oboe.js</a></h1>
              {{/home}}
        
              {{#if home}}
                 <p class="strapline">{{heading.text}}</p>
              {{/if}}
           </header>
        
           <div class="row">
        
              <nav class="col col1">
                 {{#if home}}
                     <a href="/download"
                        id="download" title="Get the code">
                        Download <span id="version">{{latestTag}}</span>
                     </a>
                 {{else}}                 
                    <div class="internalNav">
                       <h2>{{heading.text}}</h2>
                       {{#if sections}}         
                          <ul class="sections">
                             {{#sections}}
                                <li><a href="#{{id}}">{{text}}</a></li>
                             {{/sections}}
                          </ul>
                       {{/if}}
                    </div>
                 {{/if}}

                 {{#if experimental}}
                    <div class="siteNav">
                     <ul class="sections site">
                        <li><a href="api">API</a></li>
                        <li><a href="examples">Examples</a></li>
                        <li><a href="installing">Installing</a></li>
                        <li><a href="useCases">Use cases</a></li>
                        <li><a href="why">Why Oboe.js?</a></li>
                     </ul>
                    </div>
                 {{/if}}
        
                 {{#home}}               
                     <ul class="links">
                        <li>
                           <a href="https://twitter.com/OboeJs"
                              class="twitter-follow-button"
                              data-show-count="false"
                              data-lang="en"
                              data-size="large">
                              Follow @OboeJs
                           </a>
                        </li>
                     </ul>
                 {{/home}}
              </nav>
              <div class="col col2">
        
                 <main class="marked">
                    {{{content}}}
                 </main>
        
              </div>
        
           </div>
        </div>
        <footer>
           <div id="footer-contents">
              <div id="externalLinks">
                  <a href="https://twitter.com/OboeJs">
                     <svg width="128" height="128">
                         <rect width="127" height="127" />
                         <path class="logo" transform="scale(0.25)"
                             d="M0,0v512h512V0H0z M454.815,154.029c0.198,4.402,0.298,8.825,0.298,13.272
                                c0,135.557-103.183,291.867-291.865,291.867c-57.93,0-111.85-16.985-157.247-46.092c8.025,0.95,16.19,1.435,24.47,1.435
                                c48.062,0,92.292-16.398,127.4-43.912c-44.89-0.825-82.773-30.485-95.828-71.237c6.265,1.195,12.69,1.84,19.3,1.84
                                c9.355,0,18.417-1.253,27.025-3.597C61.44,288.179,26.08,246.719,26.08,197.019c0-0.432,0-0.862,0.01-1.29
                                c13.83,7.682,29.647,12.297,46.462,12.83c-27.525-18.395-45.635-49.793-45.635-85.383c0-18.8,5.06-36.42,13.89-51.57
                                c50.595,62.062,126.18,102.902,211.435,107.18c-1.747-7.508-2.655-15.338-2.655-23.378c0-56.65,45.932-102.578,102.582-102.578
                                c29.505,0,56.165,12.455,74.875,32.393c23.368-4.6,45.32-13.135,65.143-24.893c-7.657,23.955-23.925,44.057-45.102,56.753
                                c20.747-2.48,40.52-7.992,58.915-16.152c0,0,0,0,0,0l0,0c0,0,0,0,0,0C492.247,121.501,474.857,139.569,454.815,154.029z"
                         />
                     </svg>                      
                  </a>

                  <a href="https://github.com/jimhigson/oboe.js">
                      <svg width="128" height="128">
                           <rect width="127" height="127" />
                           <g transform="scale(0.25)" class="logo"> 
                           <path d="M336.265,65.91C310.863,55.167,283.859,49.719,256,49.719c-27.859,0-54.863,5.448-80.265,16.191   c-24.554,10.385-46.614,25.261-65.567,44.215s-33.828,41.014-44.215,65.567c-10.743,25.401-16.191,52.406-16.191,80.265   s5.448,54.863,16.19,80.264c10.385,24.555,25.262,46.614,44.215,65.568c18.954,18.953,41.014,33.828,65.567,44.215   c7.012,2.965,14.15,5.512,21.391,7.669v-37.521c0-19.504,6.555-33.734,19.665-42.686c-8.314-0.799-15.947-1.918-22.902-3.357   c-6.954-1.439-14.309-3.517-22.063-6.235c-7.754-2.718-14.708-5.954-20.863-9.713c-6.156-3.757-12.07-8.633-17.746-14.629   c-5.676-5.996-10.432-12.79-14.268-20.384c-3.837-7.594-6.875-16.707-9.112-27.338c-2.238-10.631-3.357-22.343-3.357-35.133   c0-24.781,8.074-45.884,24.221-63.31c-7.354-19.025-6.555-39.888,2.398-62.591c0.479-0.16,1.279-0.319,2.398-0.479   c1.12-0.16,3.637-0.08,7.554,0.24c3.916,0.319,8.154,1.159,12.71,2.518c4.556,1.358,10.631,3.916,18.226,7.673   c7.594,3.757,15.628,8.513,24.101,14.268c18.705-5.276,38.369-7.914,58.994-7.914c20.464,0,40.209,2.638,59.234,7.914   c13.43-9.112,25.54-15.667,36.331-19.665s18.266-5.755,22.422-5.276l5.996,0.719c8.952,22.542,9.753,43.405,2.398,62.591   c16.147,17.426,24.221,38.53,24.221,63.31c0,12.79-1.12,24.501-3.357,35.133c-2.238,10.631-5.276,19.745-9.112,27.338   c-3.837,7.594-8.593,14.388-14.268,20.384c-5.676,5.996-11.591,10.871-17.746,14.629c-6.156,3.757-13.11,6.995-20.863,9.713   c-7.754,2.718-15.108,4.796-22.063,6.235c-6.954,1.439-14.589,2.558-22.902,3.357c13.269,9.112,19.905,23.342,19.905,42.686v36.803   c6.42-1.997,12.755-4.313,18.993-6.951c24.555-10.385,46.614-25.262,65.568-44.215c18.953-18.953,33.828-41.014,44.215-65.567   c10.744-25.4,16.191-52.406,16.191-80.265s-5.448-54.863-16.19-80.265c-10.385-24.554-25.262-46.614-44.215-65.567   C382.879,91.172,360.82,76.297,336.265,65.91z"
                           />
                          <path d="M0,0v512h512V0H0z M256,501.566C120.378,501.566,10.434,391.622,10.434,256S120.378,10.434,256,10.434
		S501.566,120.378,501.566,256S391.622,501.566,256,501.566z"/>
                          </g>
                      </svg>
                  </a>

                  <a href="https://groups.google.com/forum/#!forum/snapsvg">
                      <svg width="128" height="128">
                          <rect width="127" height="127" />
                          <g transform="scale(0.25)" class="logo">
                              <path d="M0,0v512h512V0H0z M458.089,338.306c-1.652,1.44-3.279,1.066-3.305,4.183
	c-0.03,3.494-0.671,11.757-0.777,14.428c-0.699,17.558-1.307,56.66,0.361,91.56c0.058,1.204-1.399,0.945-3.035,1.371
	c-1.76,0.458-3.135,1.182-5.353,1.639c-26.667,5.494-50.513,12.653-72.304,16.062c-78.751,12.32-127.934,12.44-161.271,6.954
	c-29.392-4.837-46.648-12.596-60.556-19.756c-17.725-9.125-48.031-26.067-66.48-52.263c-11.283-16.021-22.967-33.667-31.914-52.478
	c-11.872-24.96-17.286-52.169-18.43-77.133c-0.511-11.14-0.778-21.812,0.615-31.679c2.14-15.153,3.087-29.302,7.801-43.988
	c3.868-12.049,13.199-38.536,25.583-56.163c11.677-16.621,26.145-37.59,54.329-58.944c10.345-7.838,21.539-15.39,36.414-23.252
	c59.437-31.414,129.17-29.836,184.963-20.283c63.691,10.905,109.798,41.338,108.237,44.27v0l-51.467,49.837l-19.329,2.096
	c0,0,9.132-15.22,12.357-21.049c0.343-0.62,0.432-1.757,1.148-2.794c0.598-0.865-1.034-2.073-1.395-2.357
	c-7.327-5.754-17.478-22.298-68.168-41.991c-20.556-7.986-45.147-11.916-79.946-8.894c-30.242,2.627-55.909,14.688-75.002,27.692
	c-31.132,21.203-48.036,46.992-58.027,71.772c-7.367,18.273-10.116,35.171-11.823,42.128c-1.938,7.899-1.296,26.591-1.109,51.02
	c0.372,48.497,22.996,115.664,87.508,164.165c41.107,30.904,83.642,39.066,119.008,39.823c48.072,1.029,84.066-13.973,84.066-13.973
	V341.8l-88.729,3.726l44.714-25.151l127.62,1.863L458.089,338.306z"/>
                          </g>
                      </svg>
                  </a>                  
              </div>
              <a href="//samwakeling.com" id="sw" title="Web design by Sam Wakeling">Web
                 design by Sam Wakeling</a>
        
              <p><a href="mailto:jim.higson@gmail.com">Contact the author</a></p>
           </div>
        </footer>
        
        {{#if twitter}}
           <script type="text/javascript">!function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (!d.getElementById(id)) {
                 js = d.createElement(s);
                 js.id = id;
                 js.src = "//platform.twitter.com/widgets.js";
                 fjs.parentNode.insertBefore(js, fjs);
              }
           }(document, "script", "twitter-wjs");</script>
        {{/if}}

        <script src="/jquery/jquery.js"></script>
        {{#each scripts}}
            <script type="text/javascript" src="{{this}}"></script>
        {{/each}}    
        {{#if initScript}}
            <script type="text/javascript">{{initScript}}</script>           
        {{/if}}
    
        {{{templates}}}
    </body>
</html>
